* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

body>div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #444;
}