* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  background-image: url(https://cdn.pixabay.com/photo/2017/09/01/09/31/square-2703542_960_720.jpg);
  background-repeat: repeat;
}

body>div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.911);
}

.title {
  color: #444;
}